<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Kwikset Premis Automation : Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e1629e">  <td>18/02/12 12:05:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Driver.testOpenUrl(java.lang.String, java.lang.String)[pri:0, instance:testmethods.RegistrationTest@224aed64]">&gt;&gt;testOpenUrl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/02/12 12:06:01</td>   <td>1999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTest.userRegistration(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testmethods.RegistrationTest@224aed64]">userRegistration</td> 
  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>18/02/12 12:06:38</td>   <td>38702</td> <td>&nbsp;</td><td title="&lt;&lt;RegistrationTest.closeUrl()[pri:0, instance:testmethods.RegistrationTest@224aed64]">&lt;&lt;closeUrl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>18/02/12 12:06:43</td>   <td>43955</td> <td title="&lt;&lt;Driver.tearDown()[pri:0, instance:testmethods.RegistrationTest@224aed64]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
</table>
