<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Kwikset Premis Automation Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="addbb4">  <td>19/02/15 11:53:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ServicesTest.Services(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testmethods.ServicesTest@6cc4c815]">Services</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>19/02/15 11:54:24</td>   <td>68147</td> <td title="&lt;&lt;Driver.tearDown()[pri:0, instance:testmethods.ServicesTest@6cc4c815]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>19/02/15 11:53:12</td>   <td>-4207</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Driver.testOpenUrl(java.lang.String, java.lang.String)[pri:0, instance:testmethods.ServicesTest@6cc4c815]">&gt;&gt;testOpenUrl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
</table>
